    

    
    <div class="container" style="background-color: rgba(255, 140, 0, 0.487);">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            
            <p class="col-md-4 mb-0 text-muted">&copy; Qhapaq 2022 , By Andywebs</p>
    
            <a href="/"
                class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                <img src="/img/logo.png" width="50" height="50" alt="">
            </a>
    
            <ul class="nav col-md-4 justify-content-end">
                <li class="nav-item"><a href="/menus" class="nav-link  px-2 text-muted" style="color: white;" >Menús</a></li>
                <li class="nav-item"><a href="/carnes" class="nav-link px-2 text-muted">Carnes</a></li>
                <li class="nav-item"><a href="/guarniciones" class="nav-link px-2 text-muted">Guarniciones</a></li>
                <li class="nav-item"><a href="/ensaladas" class="nav-link px-2 text-muted">Ensaladas</a></li>
                <li class="nav-item"><a href="/postres" class="nav-link px-2 text-muted">Postres</a></li>
            </ul>
        </footer>
    </div